.app {
  min-height: 100vh;
  position: relative;
  padding-left: 5vh;
  font-size: x-large;
  font-family: 'Roboto', sans-serif;
}

.text-input {
  width: 300px;
  margin: 10px 0 10px 0;
  font-size: large;

  &-big {
    height: 8em;
    min-width: 300px;
    min-height: 8em;
    max-width: 500px;
    max-height: 20em;
  }
}

span.task-item-description {
  display: inline-block;
  max-width: 30%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-left: 2em;
  color: gray;
}

span.input-error {
  color: red;
  font-size: smaller;
  padding-left: 10px;
}

ul {list-style: none; padding-left: 0;}

.button {
  font-size: large;
  border: 1px solid rgb(240, 240, 240);
  border-radius: 10px;
  background: #f8f8f8;
  padding: 14px 18px;
  margin: 10px 10px 10px 0;

  &:focus {
    outline: none;
  }

  &:hover {
    filter: drop-shadow(0 0 5px rgb(201, 201, 201));
  }
}
